.notice-create{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    h2{
        text-align: center;
    }

    form{
        width: 95%;
        max-width: 500px;
        background: black;
        color: white;
        padding: .5rem;
        border-radius: .25rem;
        margin-bottom: .5rem;
        box-shadow: 0rem 0rem .5rem gray;

        .heading{
            height: 5rem;
        }

        .body{
            height: 10rem;
        }

        .notice-create-error{
            color: red;
            display: block;
        }

        .btn-container{
            width: 100%;
            padding-top: .5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}
