.dashboard{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    // border: .1rem solid white;

    .top{
        // border: .1rem solid red;
        // padding: .5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .charts{
            display: flex;
            justify-content: center;
            align-items: center;
            // border: .1rem solid gray;
            // padding: .5rem;
            flex-grow: 2;
            min-height: 33vh;
        }

        .head{
            flex-grow: 3;
        }
    }

    .middle{
        // border: .1rem solid green;
        // padding: .5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .charts{
            // border: .1rem solid yellow;
            // padding: .5rem;
            // flex-grow: 1;
            min-height: 33vh;
            width: 100%;
        }
    }

    .bottom{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 1rem;

        .sides{
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;

            label{
                color: goldenrod;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-bottom: .1rem dashed gray;
                font-weight: bold;
                margin-bottom: 1rem;

                span{
                    color: white;
                    font-weight: normal;
                    font-style: italic;
                }
            }

            form{
                width: 100%;

                label{
                    color: white;
                    width: auto;
                    border: none;
                    font-weight: normal;
                    margin: 0rem;
                    display: inline;
                }

                .home-rent-error{
                    color: red;
                    // display: block;
                }

                .btn-container{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-top: .5rem;
                }
            }
        }
    }
}
