html{
    overflow-x: hidden;

    body{
        overflow-x: auto;
        padding: .5rem;
        background: black;
        color: white;

        .form-label{
            font-weight: bold;
            margin: 0rem;
        }

        h1,h2,h3,h4,legend{
            color: goldenrod;
        }

        th{
            color: #f48203;
        }

        header{
            width: 100%;

            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: fixed;
                top: 0rem;
                left: 0rem;
                padding: 0rem 1rem;
                width: 100%;
                background: rgba(0,0,0,.75);
                z-index: 1000;

                .logo{
                    color: goldenrod;
                    text-decoration: none;
                    display: block;
                    font-weight: bold;
                    font-size: 1.6875rem;
                    animation: logo 3s linear 1s infinite alternate-reverse forwards;
                    text-align: center;

                    &:hover{
                        animation: none;
                    }
                }

                ul{
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0rem;
                    margin: 0rem;

                    li{
                        list-style: none;
                        transition: all .2s .1s;

                        a{
                            padding: .5rem 1rem;
                            text-decoration: none;
                            color: inherit;
                            display: block;
                            font-style: italic;
                        }

                        &:hover{
                            scale: 1.1;
                            color: blue;
                            text-decoration: underline;
                        }
                    }
                }

                .center-ul {
                    position: fixed;
                    // top: 0rem;
                    left: 0rem;
                    background: black;
                    width: 100%;
                    transform: translateX(-100%);
                    transition: all 1s ease-in-out;

                    li{
                        border-bottom: .1rem solid gray;
                        width: 100%;
                        text-align: center;
                    }
                }

                .center-ul-show {
                    transform: translateX(0%);
                    transition: all 1s ease-in-out;
                }

                .center-ul-open {
                    display: block;
                    position: fixed;
                    // top: 0rem;
                    left: 0rem;
                    padding: 0rem;
                    transform: translateY(0);
                    cursor: pointer;
                    transition: all 1s ease-in-out;

                    svg{
                        stroke: white;
                        fill: white;
                        transition: all 1s ease-in-out;
                        transform: rotateY(180deg);
                    }
                }

                .center-ul-close{
                    left: 100%;
                    transform: translateX(-100%);
                    transition: all 1s ease-in-out;

                    svg{
                        transition: all 1s ease-in-out;
                        transform: rotateY(0deg);
                    }
                }

                .right-trigger{
                    padding: .5rem 0rem;
                    font-style: italic;
                    cursor: pointer;
                    text-align: center;

                    &:hover{
                        color: blue;
                    }
                }

                .right-ul{
                    position: absolute;
                    // top: 81px;
                    right: 0rem;
                    display: flex;
                    flex-flow: column;
                    background: black;
                    color: white;
                    background: black;
                    transition: all .5s ease-in-out;
                    box-shadow: 0rem 0rem .25rem gray;

                    li{
                        width: 100%;
                        text-align: right;
                        border-bottom: .1rem dashed gray;

                        &:hover{
                            scale: 1;
                            color: white;
                            background: gray;
                            text-decoration: underline;
                        }
                    }
                }

                .hide{
                    transform: translatex(500px);
                }
            }
        }

        main{
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            margin-top: 81px;
            height: auto;

            h1,h6{
                color: gold;
                padding: 0rem;
                margin: 0rem;
                text-transform: uppercase;
                text-shadow: .1rem .1rem .25rem black;
            }

            .headlines{
                min-height: 50vh;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;

                h6{
                    text-align: right;
                }
            }

            .top{
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;

                .charts{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    min-height: 33vh;
                    width: 100%;
                }
            }

            .middle{
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                gap: .5rem;

                .charts{
                    min-height: 33vh;
                    width: 100%;
                }
            }
        }

        .content-body{
            display: flex;
            flex-flow: column;
            justify-content: space-between;
            align-items: flex-start;
            gap: .5rem;
            overflow-x: auto;

            .content-loader{
                width: 100%;
                order: 2;
            }

            aside{
                width: 100%;
                order: 1;

                h2{
                    text-align: center;
                }

                tr{
                    cursor: pointer;
                }
            }
        }

        footer{
            padding-top: 1rem;

            h2{
                text-align: center;
            }

            .footer-contents{
                display: flex;
                justify-content: center;
                align-items: flex-start;

                .sides{
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: flex-start;
                    width: fit-content;
                    border-left: .1rem solid white;
                    padding: 1rem .5rem;

                    .form-label{
                        display: block;
                    }
                }

                .left{
                    align-items: flex-end;
                    border-left: 0;

                    .form-label{
                        font-weight: bold;
                        color: goldenrod;
                    }
                }
            }
        }

        .home-notice-view{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            min-width: 95%;
            max-width: 500px;
            max-height: 75vh;
            background: black;
            color: white;
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: center;
            z-index: 100;
            padding: 1rem;
            box-shadow: 0rem 0rem .25rem gray;
            overflow: auto;

            h3{
                text-align: center;
                color: goldenrod;
            }

            .body{
                max-width: 100%;
            }

            .footer{
                width: 100%;
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: flex-end;

                .admin{
                    font-size: larger;
                    font-weight: bolder;
                    font-style: italic;
                    color: red;
                }

                .date{
                    color: red;
                }
            }

            .close{
                position: absolute;
                top: .5rem;
                right: 1rem;
                font-weight: bold;
                font-size: larger;
                cursor: pointer;
            }
        }

        .login-div{
            position: fixed;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,.75);

            form{
                max-width: 95%;
                min-width: 90%;
                background: black;
                color: white;
                padding: 1rem;
                border-radius: .25rem;
                box-shadow: 0rem 0rem .5rem gray;

                .login-error{
                    display: block;
                    color: red;
                }

                label{
                    span{
                        font-weight: normal;
                        font-style: italic;
                        cursor: pointer;
                        color: goldenrod;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .btn-container{
                    margin-top: .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .forget-password-div{
            position: fixed;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,.75);

            form{
                max-width: 95%;
                min-width: 90%;
                background: black;
                color: white;
                padding: 1rem;
                border-radius: .25rem;
                box-shadow: 0rem 0rem .5rem gray;

                .forget-password-error{
                    display: block;
                    color: red;
                }

                label{
                    span{
                        font-weight: normal;
                        font-style: italic;
                        cursor: pointer;
                        color: goldenrod;

                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }

                .btn-container{
                    margin-top: .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .change-password-div{
            position: fixed;
            top: 0rem;
            left: 0rem;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(0,0,0,.75);

            form{
                max-width: 95%;
                min-width: 90%;
                background: black;
                color: white;
                padding: 1rem;
                border-radius: .25rem;
                box-shadow: 0rem 0rem .5rem gray;

                .change-password-error{
                    display: block;
                    color: red;
                }

                .btn-container{
                    margin-top: .5rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }

        .loading {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background: #00000099;
            z-index: 999999;
            display: flex;
            justify-content: center;
            align-items: center;

            &:after {
                content: "";
                width: 10rem;
                height: 10rem;
                border: 1rem solid gold;
                border-top-color: red;
                border-bottom-color: red;
                border-radius: 50%;
                animation: loading 1s ease-in-out 0s infinite forwards;
            }
        }

        .loading-hide {
            z-index: -9999;
            display: none;

            &::after {
                animation: none;
            }
        }

        .hide{
            display: none;
        }
    }
}

@keyframes logo {
    from{
        transform: rotateY(0deg) ;
    }

    to{
        transform: rotateY(360deg);
    }
}

@keyframes loading {
    to {
        rotate: 1turn;
    }
}

@media screen and (min-width: 640px) {
    html{
        body{
            .home-notice-view{
                min-width: 500px;
                min-height: 50vh;
                max-width: 95%;
                max-height: 95vh;
                overflow: auto;
            }

            .login-div{
                form{
                    min-width: 500px;
                }
            }

            .forget-password-div{
                form{
                    min-width: 500px;
                }
            }

            .change-password-div{
                form{
                    min-width: 500px;
                }
            }
        }
    }
}

@media screen and (min-width: 920px) {
    html{
        body{
            padding: 1rem;

            header {
                nav {
                    ul{
                        flex-flow: row;
                    }

                    .center-ul {
                        position: static;
                        background: none;
                        width: auto;
                        transform: translateY(0px) translateX(0%);
                        transition: all 1s ease-in-out;

                        li{
                            border: none;
                        }
                    }

                    .center-ul-show {
                        transform: translateY(0px) translateX(0%);
                        transition: all 1s ease-in-out;
                    }

                    .center-ul-open{
                        display: none;
                    }
                }
            }

            main{
                .top {
                    flex-flow: row;
                }

                .middle{
                    flex-flow: row;
                }
            }

            .content-body{
                flex-flow: row;

                .content-loader{
                    order: 1;
                    flex-grow: 2;
                    width: auto;
                }

                aside{
                    order: 2;
                    flex-grow: 1;
                    width: auto;
                }
            }

            footer{

                .footer-contents{

                    .sides{
                        width: 50%;
                    }
                }
            }
        }
    }
}
