body {
  background: red;
  padding: 1rem;
}
body header {
  background: green;
  width: 100%;
}
body header nav {
  background: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
}
body header nav .logo {
  text-decoration: none;
  color: inherit;
  padding: 0rem 1rem;
  display: block;
  font-weight: bold;
  font-size: 1.6875rem;
}
body header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem;
  margin: 0rem;
}
body header nav ul li {
  list-style: none;
}
body header nav ul li a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: inherit;
  display: block;
}
body header nav ul li:hover {
  color: black;
  background: gray;
}
body main {
  background: blue;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 40.5px 1rem 1rem 1rem;
}
body main h1 {
  padding: 0rem;
  margin: 0rem;
}
body main h6 {
  padding: 0rem;
  margin: 0rem;
}
body .content-body {
  background: yellow;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 1rem 0rem;
}
body .content-body .content-loader {
  background: violet;
  min-height: 75vh;
  flex-grow: 2;
}
body .content-body aside {
  flex-grow: 1;
  background: indigo;
}
body .content-body aside h2 {
  text-align: center;
}
body .content-body aside tr {
  cursor: pointer;
}
body footer {
  background: orange;
}
body footer h2 {
  text-align: center;
}
body footer .footer-contents {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
body footer .footer-contents .sides {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  border-left: 0.1rem solid blue;
  padding: 1rem 0.5rem;
}
body footer .footer-contents .sides .form-label {
  display: block;
}
body footer .footer-contents .left {
  align-items: flex-end;
  border-left: 0;
}
body footer .footer-contents .left .form-label {
  font-weight: bold;
}
body .home-notice-view {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  max-width: 75%;
  background: black;
  color: white;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  padding: 1rem;
}
body .home-notice-view h3 {
  text-align: center;
  color: goldenrod;
}
body .home-notice-view .body {
  max-width: 100%;
}
body .home-notice-view .footer {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}
body .home-notice-view .footer .admin {
  font-size: larger;
  font-weight: bolder;
  font-style: italic;
  color: red;
}
body .home-notice-view .footer .date {
  color: red;
}
body .home-notice-view .close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  font-weight: bold;
  font-size: larger;
  cursor: pointer;
}
body .login-div {
  position: fixed;
  top: 0rem;
  left: 0rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.75);
}
body .login-div form {
  max-width: 95%;
  min-width: 500px;
  background: black;
  color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0rem 0rem 0.5rem gray;
}
body .login-div form .login-error {
  display: block;
  color: red;
}
body .login-div form .btn-container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .hide {
  display: none;
}/*# sourceMappingURL=index.css.map */