body{
    background: red;
    padding: 1rem;

    header{
        background: green;
        width: 100%;

        nav{
            background: green;
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: fixed;
            top: 0rem;
            left: 0rem;
            width: 100%;

            .logo{
                text-decoration: none;
                color: inherit;
                padding: 0rem 1rem;
                display: block;
                font-weight: bold;
                font-size: 1.6875rem;
            }

            ul{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0rem;
                margin: 0rem;

                li{
                    list-style: none;

                    a{
                        padding: .5rem 1rem;
                        text-decoration: none;
                        color: inherit;
                        display: block;
                    }

                    &:hover{
                        color: black;
                        background: gray;
                    }
                }
            }
        }
    }

    main{
        background: blue;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        padding: 40.5px 1rem 1rem 1rem;

        h1{
            padding: 0rem;
            margin: 0rem;
        }

        h6{
            padding: 0rem;
            margin: 0rem;

        }
    }

    .content-body{
        background: yellow;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: .5rem;

        .content-loader{
            background: violet;
            // width: 100%;
            min-height: 75vh;
            flex-grow: 2;
        }

        aside{
            flex-grow: 1;
            // width: 100%;
            background: indigo;

            h2{
                text-align: center;
            }

            tr{
                cursor: pointer;
            }
        }
    }

    footer{
        background: orange;

        h2{
            text-align: center;
        }

        .footer-contents{
            display: flex;
            justify-content: center;
            align-items: flex-start;

            .sides{
                display: flex;
                flex-flow: column;
                justify-content: flex-start;
                align-items: flex-start;
                width: 50%;
                border-left: .1rem solid blue;
                padding: 1rem .5rem;

                .form-label{
                    display: block;
                }
            }

            .left{
                align-items: flex-end;
                border-left: 0;

                .form-label{
                    font-weight: bold;
                }
            }
        }
    }

    .home-notice-view{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        max-width: 75%;
        background: black;
        color: white;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
        padding: 1rem;

        h3{
            text-align: center;
            color: goldenrod;
        }

        .body{
            max-width: 100%;
        }

        .footer{
            width: 100%;
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: flex-end;

            .admin{
                font-size: larger;
                font-weight: bolder;
                font-style: italic;
                color: red;
            }

            .date{
                color: red;
            }
        }

        .close{
            position: absolute;
            top: .5rem;
            right: 1rem;
            font-weight: bold;
            font-size: larger;
            cursor: pointer;
        }
    }

    .hide{
        display: none;
    }
}
