

.adjustment-show{
    h2,h3{
        margin: 0rem;
        padding: 0rem;
        text-align: center;
    }

    .top{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        gap: .5rem;
    }

    .info-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: .5rem;
        padding: 1rem 0rem;

        label{
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            align-items: center;
            width: 95%;
            font-weight: bold;
            border-bottom: .1rem dashed gray;

            span{
                font-weight: normal;
                font-style: italic;
                text-align: right;
            }
        }

        .note{
            border-bottom: none;
        }

        p{
            width: 95%;
            padding: .5rem;
            border: .1rem dashed gray;
        }
    }

    .adjustment-delete-div{
        position: fixed;
        top: 0rem;
        left: 0rem;
        width: 100%;
        height: 100vh;
        background: rgba(0,0,0,.75);
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        form{
            width: 95%;
            background: black;
            padding: 1rem;
            border-radius: .25rem;
            box-shadow: 0rem 0rem .5rem gray;

            .adjustment-delete-error{
                color: red;
                display: block;
            }

            .btn-container{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: .5rem;
            }
        }
    }

    .hide{
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .adjustment-show{
        .top{
            flex-flow: row;
            justify-content: space-between;

            h2{
                transform: translateX(-40%);
                margin-left: 40%;
            }
        }

        .info-container{
            label{
                width: 90%;
                max-width: 500px;
            }

            p{
                width: 90%;
                max-width: 500px;
            }
        }

        .adjustment-delete-div{
            form{
                width: 500px;
            }
        }
    }
}

@media screen and (min-width: 920px) {
    .adjustment-show{
        .top{

            h2{
                margin-left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
